NODE_ENV=production
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=ridermind@gmail.com
ADMIN_PASSWORD=your_admin_password

# Email Configuration (Nodemailer)
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
SUPPORT_EMAIL=support@ridermind.com
APP_URL=https://ridermind-f546f.web.app
SMTP_PORT=465
