DATABASE_URL="mysql://username:password@localhost:3306/RiderMind"
PORT=3000
NODE_ENV="development"
JWT_SECRET="jwt_secret_key"

ADMIN_EMAIL="ridermind@gmail.com"
ADMIN_PASSWORD="123456"

# Email Configuration (Nodemailer)
EMAIL_USER="your-email@gmail.com"
EMAIL_PASSWORD="your-app-password"
SUPPORT_EMAIL="support@ridermind.com"
APP_URL="http://localhost:5173"
SMTP_PORT = 465